---
Checks:          '-*,readability-braces-around-statements,bugprone-macro-parentheses,modernize-redundant-void-arg'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     'file'
CheckOptions: []
...
