[submodule "ChibiOS"]
	path = ChibiOS
	url = https://github.com/cvra/ChibiOS.git
[submodule "lib/uavcan"]
	path = lib/uavcan
	url = https://github.com/cvra/uavcan
[submodule "lib/chibios-syscalls"]
	path = lib/chibios-syscalls
	url = https://github.com/cvra/chibios-syscalls
[submodule "lib/can-bootloader"]
	path = lib/can-bootloader
	url = https://github.com/cvra/can-bootloader
[submodule "lib/cmp"]
	path = lib/cmp
	url = https://github.com/cvra/cmp
[submodule "lib/cmp_mem_access"]
	path = lib/cmp_mem_access
	url = https://github.com/cvra/cmp_mem_access
