{% for dir in include_directories %}
APPINC += -I {{ dir }}
{% endfor %}

{% for file in target.arm + target.stm32f4 + source -%}
{% if file.endswith('.c') %}APPCSRC += {{ file }}
{% elif file.endswith('.s') %}APPASMSRC += {{ file }}
{% elif file.endswith('.cpp') %}APPCPPSRC += {{ file }}
{% endif %}{% endfor %}
