<launch>
    <arg name="uavcan_dsdl_path" default="/home/cvra/robot-software/uavcan_data_types/cvra/"/>
    <arg name="can_interface" default="slcan0"/>

    <arg name="right_detector_id" value="59"/>
    <arg name="right_detector_offset" value="-0.2 -0.25 -0.42"/>

    <arg name="center_detector_id" value="61"/>
    <arg name="center_detector_offset" value="-0.2 0 -0.42"/>

    <arg name="left_detector_id" value="75"/>
    <arg name="left_detector_offset" value="-0.2 0.25 -0.42"/>

    <node pkg="seeker_mine_detector" type="emi_mine_detector.py" name="right_mine_detector"
          args="$(arg uavcan_dsdl_path) $(arg can_interface) $(arg right_detector_id) $(arg right_detector_offset)"
          respawn="true" output="screen"/>

    <node pkg="seeker_mine_detector" type="emi_mine_detector.py" name="center_mine_detector"
          args="$(arg uavcan_dsdl_path) $(arg can_interface) $(arg center_detector_id) $(arg center_detector_offset)"
          respawn="true" output="screen"/>

    <node pkg="seeker_mine_detector" type="emi_mine_detector.py" name="left_mine_detector"
          args="$(arg uavcan_dsdl_path) $(arg can_interface) $(arg left_detector_id) $(arg left_detector_offset)"
          respawn="true" output="screen"/>
</launch>
