<launch>
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="bond" value="true"/>
        <arg name="enable_fisheye" value="false"/>
        <arg name="enable_infra1" value="false"/>
        <arg name="enable_infra2" value="false"/>
    </include>

    <node pkg="topic_tools" type="throttle" name="throttle_pointcloud"
          args="messages /camera/depth_registered/points 3.0"
          respawn="true" output="log"/>

    <node pkg="seeker_mine_detector" type="segmentation_node" name="surface_mine_detector"
          respawn="true" output="screen"/>
</launch>
