[Unit]
Description=Eurobot master control firmware

[Service]
Type=simple
User=root
ExecStart=/bin/xinit /bin/cvra-master --enable_gui --can_iface="can0" --led_pc_path=/sys/class/leds/onboard
Restart=on-failure


[Install]
WantedBy=multi-user.target
