[Unit]
Description=Eurobot master control firmware

[Service]
Type=simple
User=root
# TODO(antoinealb): What do we want to do with the onboard LED?
ExecStart=/bin/xinit /bin/cvra-master --enable_gui --can_iface="can0" \
    --lock_memory \
    --led_comm_path=/sys/class/leds/onboard \
    --led_ready_path=/sys/class/leds/ready \
    --led_debug_path=/sys/class/leds/debug \
    --led_bus_path=/sys/class/leds/bus \
    --led_error_path=/sys/class/leds/error \
    --led_power_path=/sys/class/leds/power \
    --strat_autoposition --strat_wait_for_starter
Restart=on-failure
LimitMEMLOCK=infinity


[Install]
WantedBy=multi-user.target
