<launch>
    <arg name="uavcan_dsdl_path" default="/home/cvra/robot-software/uavcan_data_types/cvra/"/>
    <arg name="can_interface" default="slcan0"/>

    <include file="$(find seeker_mine_detector)/launch/metal_mine_detector.launch">
        <arg name="uavcan_dsdl_path" value="$(arg uavcan_dsdl_path)"/>
        <arg name="can_interface" value="$(arg can_interface)"/>
    </include>

    <include file="$(find seeker_mine_detector)/launch/rgbd_mine_detector.launch">
    </include>

    <node pkg="uavcan_bridge" type="position_publisher.py" name="uwb_position"
          args="$(arg uavcan_dsdl_path) $(arg can_interface)"
          respawn="true" output="screen"/>

    <node pkg="seeker_alarm_display" type="seeker_alarm_display.py" name="alarm_display"
          args="mine_detection $(arg uavcan_dsdl_path) $(arg can_interface)"
          respawn="true" output="screen"/>

    <node pkg="seeker_map_builder" type="map_builder" name="map_builder"
          required="true" output="screen"/>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    </include>
</launch>
