[Unit]
Description=SLCAN interface on robot
After=multi-user.target

[Service]
Type=forking
ExecStart=/usr/local/bin/uavcan_add_slcan -r -s8 /dev/serial/by-id/usb-CVRA_CVRA_CAN2USB_303-if00

[Install]
WantedBy=multi-user.target

# vim: set ft=systemd:
