{% for dir in include_directories %}
PROJINC += {{ dir }}
{% endfor %}

{% for file in target.arm + source %}
{%- if file.endswith('.c') %}PROJCSRC += {{ file }}
{% elif file.endswith('.s') %}PROJASMSRC += {{ file }}
{% elif file.endswith('.cpp') %}PROJCPPSRC += {{ file }}
{% endif -%}{% endfor %}